
label.error {
    color: red;
    font-size: 14px;
    float: left;
    font-weight: normal !important;
    font-style: italic;
    padding-left: 15px !important;
}
.fp-next,.fp-prev {
    display: none;
}
.txt_input {
    color: #0f0f0f !important;
    padding-left: 15px !important;
}
h1 {
    font-size: 5em;
    font-family: arial, helvetica;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Centered texts in each section
* --------------------------------------- */
.section {
    text-align: center;
}

/* Backgrounds will cover all the section
* --------------------------------------- */
.section {
    background-size: cover;
}

.slide {
    background-size: cover;
}

button.btn > i {

}
.c-cell{
    background: transparent !important;
}

.redirect .btn {
    padding: 12px !important;
}
.redirect .redirect-wrapper {
    border-radius: 4px;
}
.c-text--name {
    color: #fff !important;
}