/************** START COMMOM************/
html, button, textarea {
    font-family:"Helvetica Neue", "Helvetica-Neue", "Arial", sans-serif;
    color: #333;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}

@font-face { font-family: "MyriadPro-Regular"; font-style: normal; font-weight: 500; src: url("../fonts/myriadpro-webfont.ttf") format("truetype"); }
@font-face { font-family: "MyriadPro-Cond"; font-style: normal; font-weight: 500; src: url("../fonts/myriadpro-condensed-webfont.ttf") format("truetype"); }
@font-face { font-family: "MyriadPro-BoldCond"; font-style: normal; font-weight: 500; src: url("../fonts/myriadpro-boldcond-webfont.ttf") format("truetype"); }
.clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

a:hover,
a:focus{
    text-decoration: none;
}

.body-content {
    position: relative;   
}
.wapper{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.landing{
    width: 100%;
}

.landing__cover {
    box-sizing: border-box;
    max-width: 420px;
    text-align: center;
    // background: transparent 50% 0 / cover no-repeat;
    // background: linear-gradient(0deg,rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.3)),transparent;
}

.landing__cover-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    // background-image: radial-gradient(ellipse at 50% 50%, rgba(0,0,0,0.3),rgba(0,0,0,0) 100%);
    // background: linear-gradient(0deg,rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.3)),transparent;
    // @media only screen and (max-width: 420px){
        background:none;
        background-image: radial-gradient(ellipse at 50% 50%, rgba(0,0,0,0.15),rgba(0,0,0,0) 100%);
    // }
}
.landing__cover-wrapper{
	position: relative;
	z-index: 2;
}
.landing__cover-content {
    position: relative;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
    min-height: 100%;
}
.u-ui-padding-x-large {
    padding: 16px !important;
}

.c-text {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.c-text--parent {
    display: block;
    width: 100%;
}

.c-text--center {
    text-align: center;
}

.c-text--heading {
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    font-weight: 700;
}
.c-text--name {
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    font-weight: 500;
}

.c-text--discount {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}
.m-text--discount {
    font-size: 18px;
}

.c-text--social {
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    font-weight: 500;
}


.c-spacer {
    width: 8px;
    height: 8px;
    display: block;
}
.c-spacer--x-large {
    width: 16px;
    height: 16px;
}
.c-spacer--xx-large {
    width: 24px;
    height: 24px;
}
.txt_input {
    width: 100%;
    border: none;
    height: 38px;
    line-height: 38px;
    padding-left: 20px;
    outline: none;
    font-size: 15px;
    background: #fff;
    font-style: italic;
}

 ._btn {
    text-transform: uppercase;
    color: #FFF8B7;
    width: 100%;
    background: #ff8b00;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-family: MyriadPro-BoldCond;
}

.modal-content {
    border: 1px solid #AAAAAA;
    padding: 4px;
}

.modal-dialog {
    z-index: 10000;
    
    margin-left:  auto;
    margin-right:  auto;
    position: absolute;
    width:400px;
    max-width:  100%;
}
.modal-header {
    background: none repeat scroll 0 0 #ff8b00;
    border: medium none;
    padding: 8px;
    font-family: MyriadPro-BoldCond;
}
.modal-header .close {
    position: absolute;
    background: url(../images/icon_close.png) no-repeat scroll 0 0;
    top: -2px;
    right: -12px;
    opacity: 1;
    text-indent: -9999px;
    height: 36px;
    width: 36px;
}
.modal-title  {
    margin: 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
.modal-body {
    padding: 20px;
    background: #F0EFF0;
}

/************** END COMMOM************/
.logo {
    position: relative;
    height: 80px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: center;
    justify-content: center;
}
.logo__inner {
     display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    
}
.logo__inner a{
}
.logo__inner img{
	max-width: 100%;
	height: auto;
}

.redirect__discount {
    
    display: block;
    border: none;
    color: #fff;
    font-size: 20px;
    background: #ff8b00;
    text-align: center;
    width: 100%;
    font-family: MyriadPro-Cond;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 44px;

}
.redirect__normal {
     display: block;
    border: none;
    color: #fff;
    font-size: 20px;
    background: #9A9797;
    text-align: center;
    width: 100%;
    font-family: MyriadPro-Cond;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 44px;
}
.icons {
	list-style: none;
	padding: 0;
	margin: 0;
    li {
        margin: 5px 8px 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        width: 35px;
        height: 35px;
        display: inline-block;
            text-align: center;
        &.twitter{
            background-color: #4392D5;
        }
        &.pinterest{
            background-color: #CB2028;
        }
        &.facebook {
            background-color: #4c5da5;
        }
        &.googleplus {
            background-color: #d34b32;
        }
        &.youtube{
            background-color: #CF3427;
        }

        a {
            color: #fff;
            font-size: 21px;
            i{
               line-height: 35px; 
            }
        }
    }
}    

.cc{
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
}

@-webkit-keyframes color-change {
    0% { color: red; }
    50% { color: #ffed02; }
    100% { color: red; }
}
@-moz-keyframes color-change {
    0% { color: red; }
    50% { color: #ffed02; }
    100% { color: red; }
}
@-ms-keyframes color-change {
    0% { color: red; }
    50% { color: #ffed02; }
    100% { color: red; }
}
@-o-keyframes color-change {
    0% { color: red; }
    50% { color: #ffed02; }
    100% { color: red; }
}
@keyframes color-change {
    0% { color: red; }
    50% { color: #ffed02; }
    100% { color: red; }
}